* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(100% - 4px);
}

.nav-links ul li::after {
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px dashed transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    transition: all 1s ease;
}

.nav-links ul li:hover::after {
    border-color: #ffffff;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-family: "Handlee", cursive;
    font-size: 72px;
}

.text-box p {
    margin: 10px 0 40px;
    font: 16px;
    color: #fff;
}

.start-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.start-btn:hover {
    border: 1px solid #53198e;
    background: #53198e;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 42px;        
    }
    .text-box p {
        font-size: 14px;        
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #301050;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font: 20px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }

}

.news-container {
    width: 100%;
    background-image: linear-gradient(rgba(2, 61, 33, 0.7), rgba(18, 106, 64, 0.4));
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}

.news {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-family: "Handlee", cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin: 0;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.news-col {
    flex-basis: 31%;
    margin-bottom: 5%;
}

.news-item {
    background: #c7c7c7;
    border-radius: 5px;
    padding: 0;
    transition: 0.5s;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-item h3 {
    font-family: "Handlee", cursive;
    text-align: left;
    font-weight: 600;
    margin: 30px 20px 0;
    padding-bottom: 0;
}

.news-item p {
    color: #000000;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 20px 20px;
    margin: 0;
}

.news-item img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.news-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.community-container {
    width: 100%;
    background-image: linear-gradient(rgba(59, 59, 59, 0.9), rgba(180, 190, 253, 0.4)), url(../img/bedroom-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
}

.community {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.community h1 {
    font-family: "Handlee", cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.community p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin: 0;
}

.community-img {
    max-width: calc(31% * 3 + 20px * 6);
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.community-img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.community-img img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

footer {
    display: flex;
    background-color: #292929;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 6%;
}

.legal-info {
    width: 30%;
    font-size: 11px;
}

.legal-info p {
    color: #fff;
    margin: 0;
    line-height: 1.5;
}

.legal-info p a {
    color: #fff;
    text-decoration: none;
}

.legal-info p a:hover {
    color: #15e38a;
}

.newsletter {
    width: 50%;
    font-size: 11px;
}

.email {
    margin-left: 10px;
    width: 240px;
}

.newsletter button {
    margin-left: 10px;
    width: 80px;
}

.social-media {
    width: 20%;
    justify-content: center;
}

.social-media a i {
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    padding: 2px;
    justify-items: center;
}

.social-media a i:hover {
    color: #15e38a;
}
