* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.home-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}

.about-header {
    min-height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/cat_highfive.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}

.work-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8));
    background-position: center;
    background-size: cover;
    position: relative;   
}

.donate-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8));
    background-position: center;
    background-size: cover;
    position: relative;   
}

.volunteer-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8));
    background-position: center;
    background-size: cover;
    position: relative;   
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(100% - 4px);
    z-index: 3;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px dashed transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    transition: all 1s ease;
}

.nav-links ul li:hover::after {
    border-color: #ffffff;
    cursor: pointer;
}

/* Pursue transition to Our Work effect */

.nav-item-explore {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-explore::after {
    content: "Our Work";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-explore:hover::after {
    opacity: 1;
}

.nav-item-explore:hover {
    color: transparent; 
}

/* Pursue transition to Donate effect */

.nav-item-pursue {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-pursue::after {
    content: "Donate";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-pursue:hover::after {
    opacity: 1;
}

.nav-item-pursue:hover {
    color: transparent; 
}

/* Investigate transition to Volunteer effect */

.nav-item-invest {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-invest::after {
    content: "Volunteer";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-invest:hover::after {
    opacity: 1;
}

.nav-item-invest:hover {
    color: transparent; 
}

/* Our Tail transition to About Us effect */

.nav-item-about {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-about::after {
    content: "About Us";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-about:hover::after {
    opacity: 1;
}

.nav-item-about:hover {
    color: transparent; 
}

/* Homepage landing main text box */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-family: "Handlee", cursive;
    font-size: 96px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.text-box p {
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    max-width: 1000px;
}

.start-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    margin-top: 30px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.start-btn:hover {
    border: 1px solid #53198e;
    background: #53198e;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 42px;        
    }
    .text-box p {
        font-size: 14px;        
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #301050;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }

}

.news-container {
    width: 100%;
    background-image: linear-gradient(rgba(2, 61, 33, 0.7), rgba(18, 106, 64, 0.4));
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}

.news {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-family: "Handlee", cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin: 0;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.news-col {
    flex-basis: 31%;
    margin-bottom: 5%;
}

.news-item {
    display: flex;
    flex-direction: column;
    background: #c7c7c7;
    border-radius: 8px;
    padding: 0;
    transition: 0.5s;
    overflow: hidden;
    height: auto;
}

.news-item h3 {
    font-family: "Handlee", cursive;
    text-align: left;
    font-weight: 600;
    margin: 30px 20px 0;
    padding-bottom: 0;
}

.news-item p {
    color: #000000;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 20px 20px;
    margin: 0;
}

.news-item-img {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.news-item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .news-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

.community-container {
    width: 100%;
    background-image: linear-gradient(rgba(59, 59, 59, 0.9), rgba(180, 190, 253, 0.4)), url(../img/bedroom-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
}

.community {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.community h1 {
    font-family: "Handlee", cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.community p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin: 0;
}

.community-img {
    display: block;
    width: 80%;
    margin: auto;
    position: relative;
}

.community-img img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

.community-img img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

/* Footer */

footer {
    display: flex;
    background-color: #292929;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 6%;
}

.legal-info {
    width: 30%;
    font-size: 11px;
}

.legal-info p {
    color: #fff;
    margin: 0;
    line-height: 1.5;
}

.legal-info p a {
    color: #fff;
    text-decoration: none;
}

.legal-info p a:hover {
    color: #15e38a;
}

.newsletter {
    width: 50%;
    font-size: 11px;
}

.email {
    margin-left: 10px;
    width: 240px;
}

.newsletter button {
    margin-left: 10px;
    width: 80px;
}

.social-media {
    width: 20%;
    justify-content: center;
}

.social-media a i {
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    padding: 2px;
    justify-items: center;
}

.social-media a i:hover {
    color: #15e38a;
}

/* About page styling */

.about-container {
    width: 80%;
    margin: auto;
    padding: 100px 0;
}

.about-row {
    display: flex;
    justify-content: space-between;
}

.mission-info {
    flex-basis: 70%;
    text-align: left;
    padding-right: 20px;
}

.quick-links-col {
    flex-basis: 25%;
    text-align: left;
}

.mission-info h1 {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 36px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.mission-info p {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.quick-links-col h2 {
    font-family: "Handlee", cursive;
    font-size: 36px;
    padding: 20px;
}

.quick-links-col ul {
    padding: 30px;
}

.quick-links-col ul li {
    list-style: none;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.quick-links-col ul li a {
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.quick-links-col ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #53198e;
    display: block;
    margin: auto;
    transition: 1s;
}

.quick-links-col ul li a:hover::after{
    width: 100%;
}

@media (max-width: 700px) { 
    .about-row {
        flex-direction: column;
    }
    .mission-info, .quick-links-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}