* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.home-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(100% - 4px);
    z-index: 3;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px dashed transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    transition: all 1s ease;
}

.nav-links ul li:hover::after {
    border-color: #ffffff;
    cursor: pointer;
}

/* Pursue transition to Our Work effect */

.nav-item-explore {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-explore::after {
    content: "Our Work";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-explore:hover::after {
    opacity: 1;
}

.nav-item-explore:hover {
    color: transparent; 
}

/* Pursue transition to Donate effect */

.nav-item-pursue {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-pursue::after {
    content: "Donate";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-pursue:hover::after {
    opacity: 1;
}

.nav-item-pursue:hover {
    color: transparent; 
}

/* Investigate transition to Volunteer effect */

.nav-item-invest {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-invest::after {
    content: "Volunteer";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-invest:hover::after {
    opacity: 1;
}

.nav-item-invest:hover {
    color: transparent; 
}

/* Our Tail transition to About Us effect */

.nav-item-about {
    position: relative;
    transition: color 0.5s ease;
}

.nav-item-about::after {
    content: "About Us";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px; 
    z-index: 2; 
}

.nav-item-about:hover::after {
    opacity: 1;
}

.nav-item-about:hover {
    color: transparent; 
}

/* Homepage landing main text box */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-family: "Handlee", cursive;
    font-size: 96px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.text-box p {
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    max-width: 1000px;
}

.start-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    margin-top: 30px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.start-btn:hover {
    border: 1px solid #53198e;
    background: #53198e;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 42px;        
    }
    .text-box p {
        font-size: 14px;        
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #301050;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }

}

.news-container {
    width: 100%;
    background-image: linear-gradient(rgba(2, 61, 33, 0.7), rgba(18, 106, 64, 0.4));
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}

.news {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-family: "Handlee", cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin: 0;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.news-col {
    flex-basis: 31%;
    margin-bottom: 5%;
}

.news-item {
    display: flex;
    flex-direction: column;
    background: #c7c7c7;
    border-radius: 8px;
    padding: 0;
    transition: 0.5s;
    overflow: hidden;
    height: auto;
}

.news-item h3 {
    font-family: "Handlee", cursive;
    text-align: left;
    font-weight: 600;
    margin: 30px 20px 0;
    padding-bottom: 0;
}

.news-item p {
    color: #000000;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 20px 20px;
    margin: 0;
}

.news-item-img {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.news-item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .news-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

.community-container {
    width: 100%;
    background-image: linear-gradient(rgba(59, 59, 59, 0.9), rgba(180, 190, 253, 0.4)), url(../img/bedroom-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
}

.community {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.community h1 {
    font-family: "Handlee", cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.community p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin: 0;
}

.community-img {
    display: block;
    width: 80%;
    margin: auto;
    position: relative;
}

.community-img img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

.community-img img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

/* Footer */

footer {
    display: flex;
    background-color: #292929;
    align-items: flex-start;
    justify-content: space-around;
    padding: 6%;
}

.legal-info {
    width: 30%;
    font-size: 11px;
}

.legal-info p {
    color: #fff;
    margin: 0;
    line-height: 1.5;
}

.legal-info p a {
    color: #fff;
    text-decoration: none;
}

.legal-info p a:hover {
    color: #15e38a;
}

.newsletter {
    width: 40%;
    font-size: 11px;
}

.email {
    margin-left: 10px;
    width: 250px;
    height: 28px;
}

.newsletter button {
    margin-left: 10px;
    width: 80px;
    height: 28px;
    cursor: pointer;
}

.social-media {
    width: 20%;
    justify-content: space-evenly;
}

.social-media a i {
    color: #fff;
    font-size: 32px;
    margin-top: 10px;
    padding: 3px;
    justify-items: center;
}

.social-media a i:hover {
    color: #15e38a;
}

/* About page styling */

.about-header {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/cat_highfive.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}

.about-container {
    width: 100%;
    background-color: #fff;
    background-size: cover;
    position: relative;
}

.about-row {
    width: 80%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.mission-info {
    flex-basis: 70%;
    text-align: left;
    padding-right: 20px;
}

.quick-links-col {
    flex-basis: 25%;
    text-align: left;
    background-color: #ccffe9;

}

.mission-info h1 {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 36px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.mission-info p {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.quick-links-col h2 {
    font-family: "Handlee", cursive;
    font-size: 36px;
    padding: 20px;
}

.quick-links-col ul {
    padding: 30px;
}

.quick-links-col ul li {
    list-style: none;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.quick-links-col ul li a {
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.quick-links-col ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #53198e;
    display: block;
    margin: auto;
    transition: 1s;
}

.quick-links-col ul li a:hover::after{
    width: 100%;
}

.word-from-ceo {
    width: 100%;
    background-image: linear-gradient(rgba(10, 2, 61, 0.6), rgba(53, 18, 106, 0.9));
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 100px 0;
}

.word-row {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.word-img-col {
    flex-basis: 25%;
    text-align: left;
}

.word-text-col {
    flex-basis: 70%;
    text-align: left;
}

.word-img-col img {
    height: 200px;
    border-radius: 40%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.word-img-col h2 {
    font-family: "Handlee", cursive;
    font-size: 42px;
    color: #fff;
    text-align: center;
}

.word-img-col h3 {
    color: #fff;
    text-align: center;
}

.word-text-col p {
    font-size: 18px;
}

.word-text-col span.quote {
    font-size: 2em;
    font-weight: bold;    
}

.word-text-col span.end-quote {
    display: block;
    text-align: right;
    font-size: 2em;
    font-weight: bold;    
    clear: both;
}

@media (max-width: 700px) { 
    .about-row {
        flex-direction: column;
    }
    .mission-info, .quick-links-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

/* Our Work page styling */

.work-header {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/cat_finger_hold.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}

.actions-container {
    width: 100%;
    background-image: linear-gradient(rgba(10, 2, 61, 0.9), rgba(53, 18, 106, 0.5));
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 100px 0;
}

.actions {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.actions h1 {
    font-family: "Handlee", cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.actions p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin-bottom: 50px;
}

.actions-row {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.actions-col {
    display: block;
    flex-basis: 30%;
    position: relative;
    overflow: hidden;
    margin: 10px;
    height: 300px;
}

.actions-col img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(32, 225, 141, 0.4);
}

.layer h3 {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 3px #1c1c1c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

@media(max-width: 700px) {
    .actions-row {
        flex-direction: column;
    }
    .actions-col {
        flex-basis: 100%;
    }
}

.help-container {
    width: 100%;
    background-color: #fff;
    background-size: cover;
    position: relative;
}

.help-row {
    width: 80%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.help-info-col {
    flex-basis: 65%;
    text-align: left;
    padding-right: 20px;
}

.help-info-col h1 {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 36px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.help-info-col p {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.help-img-col {
    flex-basis: 25%;
}

.help-img-col img {
    height: 220px;
    border-radius: 8px;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Donate page styling */

.donate-header {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/cat_handhold.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}

.donation-container {
    width: 100%;
    background-color: #fff;
    background-size: cover;
    position: relative;
}

.donation-row {
    width: 90%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.donation-info-col {
    flex-basis: 75%;
    text-align: left;
}

.donation-form-col h1 {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 36px;
    padding-bottom: 20px;
}

.donation-form-col h3 {
    font-family:  "Handlee", cursive;
    color: #150036;
    font-size: 22px;
    line-height: 54px;
    margin-top: 10px;
}

.gift-btn {
    display: inline-block;
    color: #53198e;
    border: 1px solid #53198e;
    padding: 10px 38px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.gift-btn:hover {
    color: #ffffff;
    border: 1px solid #53198e;
    background: #53198e;
}

#customAmount {
    display: inline-block;
    border: 1px solid #53198e;
    padding: 10px;
    font-size: 16px;
    cursor: text;
    border-radius: 8px;
    width: calc(84px + 28px);
    text-align: center;
}

.input-box {
    margin-bottom: 15px;
}

.input-box .details {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

.input-row .input-box {
    flex-grow: 1;
    margin-right: 15px;
}

.input-row .input-box:last-child {
    margin-right: 0; 
}

.input-box input[type="text"],
.input-box input[type="number"],
.input-box select {
    width: 300px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.expiration-date input[type="text"],
.expiration-date input[type="number"],
.expiration-date select {
    width: 80px; 
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.expiration-date .exp-input:last-child {
    margin-right: 0;
}

.caption {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 20px;
}

.payment-info {
    margin-top: 15px;
}

.payment-type label {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.fa-brands {
    display: inline-block;
    margin-right: 10px;
    font-size: 32px;
}

.donation-submit {
    margin-top: 10px;
}

.donation-submit input[type="submit"] {
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#71e6bd, #892ae8);
    color: white;
    cursor: pointer;
    transition: 1s;
}

.donation-submit input[type="submit"]:hover {
    background: linear-gradient(#892ae8, #71e6bd);
}

.donation-img-col {
    flex-basis: 20%;
    padding-left: 100px;
}

.donation-img-col img {
    width: 300px;
    border-radius: 8px;
    margin-top: 75px;
    margin-bottom: 20px;
}

/* Volunteer page styling */

.volunteer-header {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(25, 21, 72, 0.3), rgba(25, 21, 72, 0.8)), url(../img/handful_of_cats.jpg);
    background-position: center;
    background-size: cover;
    position: relative;   
}